<h1>Users</h1>
<% @users.each do |user| %>
  <%= user.first_name %>
  <%= link_to 'Show', user_path(user) %>
  <%= link_to 'Edit', edit_user_path(user) %>
  <%= link_to 'Delete', user_path(user), :method => 'Delete' %>
  <br />
<% end %>


<%= form_tag search_users_path, :remote => true do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag("Search") %>
<% end %>
